.catergory-container {
  display: flex;
  height: 100%;
  margin: 10px;
}

.category-inside-container {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(126, 123, 123);
}

.category-main-content {
  margin: 10px;
}
